/* 
Daniel Peleg 8910530
 */
html{
	font : normal, normal, normal, 20px/1.5, Ariel, Courier, Trebuchet;
}
h1{
	color: yellow; 
	font-size:2rem;
}
body {
	display: flex;
	flex-direction: column;
	width : 100vw;
	height : 100vw;
	background-color:  hsla(130, 69%, 23%, 0.229);
}
h2{
	color: #f02;
	font-size: 1.5rem;
}
#side{
	color:#f08;
	font-size: 1.2rem;
}
header{
	background-color: hsl(35, 80%, 80%);
}

nav ul li{
	display: inline;
	list-style-type: none;
}
nav ul li a{
	color: indigo;
	border: 0.1rem solid indigo;
	background-color: cornsilk;
	text-decoration: none;
	padding: 0.25rem;
}
nav ul li a:hover{
	color:cornsilk;
	background-color: indigo;
	border: 0.1rem solid cornsilk;

}
section{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;

}

main{
	flex: 2 1 70%;
	/* width: 65vw;
	height: 60vh; */
	background-color: hsl(35, 100%, 70%);

}

aside{
	flex: 1 1 30%;
	/* float: right;
	width: 25vw; 
	height: 60vh; */
	background-color: hsl(100, 70%, 60%);
}
aside li{
	list-style-type: square;
	line-height: 1.5em;
	color: rgba(0, 119, 255, 0.687);
}
aside a{
	line-height: 1.5em;
	color: rgba(0, 119, 255, 0.687);
}
form{
	border: 0.2rem dashed darkblue;
	padding: 0.25rem;

}
input[type=text], input[type=email], input[type=submit], select, option{
	display: block;
	width: 50%;
	height: 2em;

}
input[type=radio], input[type=checkbox]{
	height: 2em;
	width: 2em;
}
select, option, label, legend, input[type=submit]{
	font-size: 1.5rem;
	font-weight: bold;
	font-variant: small-caps;

}
fieldset{
	border: none;
}

textarea{
	display: block;
	width: 50%;
}

footer{
	background-color: hsl(180, 80%, 80%);
}
footer p{
	font-size: .75em;
}
.structural{
	margin: .1rem;
	padding: .1rem;
	border: 0.1rem solid violet ;
}
#para1{
	color: rgb(1, 6, 153);
}
#para2{
	color: rgb(219, 96, 14);
}
aside a:hover{
	color:#FFE;
}

#gallery{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 0.2rem;
	column-gap: 0.2rem;


}
figure{
	border: 0.2rem solid rgb(1, 6, 153);
}

img{
	width: 80%;
	height: 80%;
}
@media (max-width: 600px){
	html{
		font-size: 10px;

	}
	#gallery{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	section{
		display: block;
	}
}